{% extends 'base.html.twig' %}

{% trans_default_domain 'homepage' %}

{% block title %}{{ 'home.title.activate'|trans }}{% endblock %}

{% block body %}

    <main class="container-fluid w-100" role="main">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white">
                {#<a class="u-login-form py-3 mb-auto" href="index.html">
                    <img class="img-fluid" src="{{ asset('assets/front/') }}img/logo.png" width="160" alt="Stream Dashboard UI Kit">
                </a>#}
                <div class="u-login-form" style="height: 130px; padding-top: 7px;">
                    <img class="img-fluid" src="{{ asset('assets/front/') }}img/logo.png" width="70" alt="{{ 'home.title.home'|trans }}">
                </div>

                <div class="u-login-form" style="padding-bottom: 25%; padding-top: 13%;">
                        <form class="mb-3" action="" method="post">
                            <div class="mb-3">
                                <h1 class="h2">{{ 'home.auth.active.title'|trans }}</h1>
                                {#<p class="small">Resend code</p>#}
                                <div style="text-align: center; margin-top: 18px;">
                                    <span style="float: left; color: #5a6a7e; font-size: 13px;">{{ 'home.auth.active.late'|trans }}</span>
                                    <a href="{{ path('profile_activate',{action:'email'}) }}" class="num1">{{ 'home.auth.active.sendemail'|trans }} </a>
                                    <a href="{{ path('profile_activate',{action:'phone'}) }}" class="num2">{{ 'home.auth.active.sendphone'|trans }}</a>
                                </div>
                            </div>
                            <p class="text-danger">{{ error }}</p>
                            <div class="form-row">
                                <div class="col-md-12" style="padding: 0;margin: 0">
                                    <div class="form-group mb-6" style="padding: 0;margin: 0">
                                        <label for="password">{{ 'home.auth.active.code'|trans }}</label>
                                        <input id="password" required class="form-control" name="pin_code" type="number" placeholder="{{ 'home.auth.active.pinorder'|trans }}">
                                    </div>
                                    <button class="btn btn-primary btn-block submit-btn" style="margin-top: -15px" type="submit">{{ 'home.auth.active.submit'|trans }}</button>
                                </div>
                            </div>
                        </form>
                </div>

            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white">
                <iframe src="{{ path('slider') }}" scrolling="no" frameborder="0" style="width: 100%; height: 100%"></iframe>
            </div>
        </div>

    </main>

{% endblock %}
{% block javascripts %}
{% endblock %}